<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>School</title>
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script> 
        <script src="{{ url_for('static', filename = 'chart.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'chart.js')}}"
        
    </head>
    <body>
        <div id = "most_achieve"></div>
    </body>
</html>